wsdl/webservice.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/webservice/index.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WebService" targetNamespace="http://127.0.0.1/webservice/index.php"><types><xsd:schema targetNamespace="http://127.0.0.1/webservice/index.php"><xsd:complexType name="DocumentUserRequest"><xsd:all><xsd:element name="document" type="xsd:int" nillable="true"/></xsd:all></xsd:complexType><xsd:complexType name="UserInfo"><xsd:all><xsd:element name="id" type="xsd:int" nillable="true"/><xsd:element name="documentNumber" type="xsd:int" nillable="true"/><xsd:element name="name" type="xsd:string" nillable="true"/><xsd:element name="lastName" type="xsd:string" nillable="true"/><xsd:element name="email" type="xsd:string" nillable="true"/><xsd:element name="age" type="xsd:int" nillable="true"/></xsd:all></xsd:complexType><xsd:complexType name="UserInfoResponse"><xsd:all><xsd:element name="codeResponse" type="xsd:int" nillable="true"/><xsd:element name="messageResponse" type="xsd:string" nillable="true"/><xsd:element name="response" type="tns:UserInfo" nillable="true"/></xsd:all></xsd:complexType><xsd:complexType name="UserAllResponse"><xsd:all><xsd:element name="codeResponse" type="xsd:int" nillable="true"/><xsd:element name="messageResponse" type="xsd:string" nillable="true"/><xsd:element name="response" type="soap-enc:Array" nillable="true"/></xsd:all></xsd:complexType></xsd:schema></types><portType name="WebServicePort"><operation name="getUserInfo"><documentation>Metodo para obtener la informacion del usuario
*</documentation><input message="tns:getUserInfoIn"/><output message="tns:getUserInfoOut"/></operation><operation name="getUserAll"><documentation>Metodo para obtener todos los usuarios</documentation><input message="tns:getUserAllIn"/><output message="tns:getUserAllOut"/></operation></portType><binding name="WebServiceBinding" type="tns:WebServicePort"><soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/><operation name="getUserInfo"><soap:operation soapAction="http://127.0.0.1/webservice/index.php#getUserInfo"/><input><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/webservice/index.php"/></input><output><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/webservice/index.php"/></output></operation><operation name="getUserAll"><soap:operation soapAction="http://127.0.0.1/webservice/index.php#getUserAll"/><input><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/webservice/index.php"/></input><output><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/webservice/index.php"/></output></operation></binding><service name="WebServiceService"><port name="WebServicePort" binding="tns:WebServiceBinding"><soap:address location="http://127.0.0.1/webservice/index.php"/></port></service><message name="getUserInfoIn"><part name="userDoc" type="tns:DocumentUserRequest"/></message><message name="getUserInfoOut"><part name="return" type="tns:UserInfoResponse"/></message><message name="getUserAllIn"/><message name="getUserAllOut"><part name="return" type="tns:UserAllResponse"/></message></definitions>
